<div class="row footerCSS" style="margin-left: 0px; background-color: #4da6ff;">
    <div class="col-sm-6">
        <p>Site designed and developed by ****</p>
    </div>
    <div class="col-sm-3">
        <h4>Section</h4>
        <ul>
            <li><a href="#" >Home</a></li>
            <li><a href="#" >Features</a></li>
            <li><a href="#" >Services</a></li>
            <li><a href="#" >About Us</a></li>
            <li><a href="#" >Contact Us</a></li>
        </ul>
    </div>
    <div class="col-sm-3">
        <h4>Section</h4>
        <ul>
            <li><a href="#" >Home</a></li>
            <li><a href="#" >Features</a></li>
            <li><a href="#" >Services</a></li>
            <li><a href="#" >About Us</a></li>
            <li><a href="#" >Contact Us</a></li>
        </ul>
    </div>
</div>
<div class="row" style="margin-left: 0px; border-top: 2px solid white;">
    <div class="bg-primary" style="text-align: center; height: 50px; padding: 15px 15px;">
        <p>© 2022 Company, Inc. All rights reserved.</p>

    </div>
</div>