<app-main-header></app-main-header>


<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active hover01" data-bs-interval="5000">
      <!-- <img src="..." class="d-block w-100" alt="..."> -->
      <figure><img [src]="ImagePath1" class="d-block w-100" style="height: 600px;"></figure>

    </div>
    <div class="carousel-item hover01" data-bs-interval="5000">
      <!-- <img src="..." class="d-block w-100" alt="..."> -->
      <figure><img [src]="ImagePath2" class="d-block w-100" style="height: 600px;"></figure>
    </div>
    <div class="carousel-item hover01" data-bs-interval="5000">
      <!-- <img src="..." class="d-block w-100" alt="..."> -->
      <figure><img [src]="ImagePath3" class="d-block w-100" style="height: 600px;"></figure>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="row">
  <div class="col-sm-3 borderCSS">
    <div class="card" style="min-height: 370px;">
      <div class="card-header">
        Sidebar
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">Menu 1</li>
          <li class="list-group-item">Menu 2</li>
          <li class="list-group-item">Menu 3</li>
          <li class="list-group-item">Menu 4</li>
          <li class="list-group-item">Menu 5</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6 borderCSS">
    <div class="card" style="min-height: 370px;">
      <div class="card-header">
        -
      </div>
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="col-sm-3 borderCSS">
    <div class="card" style="min-height: 370px;">
      <div class="card-header">
        -
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
</div>
<app-main-footer></app-main-footer>